<% if flash[:notice] %>
	<div class="alert alert-success">
		<%= flash[:notice] %>
		<br>
	</div>
<% end %>

<h1 class="lead">Casas de shows</h1>

<% @casas.each do |casa| %>
	<h3 class="lead"><%= casa.nome %></h3>
	<table class="table table-hover table-bordered">
		<tr>
			<th>Nome</th>
			<th>Preço</th>
			<th>Facebook</th>
			<th>Instagram</th>
		</tr>
		<tbody>
		<% @bandas_nome.each do |banda| %>
			<% if banda.casa_id == casa.id %>
				<%= render partial: "banda", locals: { banda: banda } %>
			<% end %>
		<% end %>
		<!-- ou  render @bandas_nome -->
		</tbody>
	</table>
<% end %>

<%= link_to "Adicionar nova casa de show", new_casa_path %>
<br>
<%= link_to "Adicionar nova banda", bandas_cadastrar_path %>
