
<h1 class="lead">Cadastre suas bandas</h1>
<!-- Esta tag cria um formulario automaticamente para mim -->
<%= form_for @banda do |f| %>
<!-- 		Nome <input type="text" name="banda[nome]" class="form-control">
	Preço <input type="number" name="banda[preco]" step="100" class="form-control">
	Facebook <input type="text" name="banda[facebook]" class="form-control">
	Instagram <input type="text" name="banda[instagram]" class="form-control">
	<br>
	<button type="submit">Enviar</button> -->
	<div class="form-group">
		<%= f.label :nome %>
		<%= f.text_field :nome, class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :preco %>
		<%= f.number_field :preco, step:100, class:"form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :facebook %>
		<%= f.text_field :facebook, class:"form-control"%>
	</div>
	<div class="form-group">
		<%= f.label :instagram %>
		<%= f.text_field :instagram, class:"form-control" %>
	</div>
	<div class="form-group">
		<%= f.label "Casa de show" %>
		<%= f.collection_select :casa_id, @all_casas, :id, :nome, {}, class:"form-control" %>
	</div>
	<br>
	<%= f.submit "Criar", class:"btn btn-default btn-primary" %>
<% end %>

<br>

<% @banda.errors.full_messages.each do |message| %>
	<div class="alert alert-danger">
		<%= message %>
	</div>
<% end %>